html {
  min-width: 550px;
  overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

h3 img {
  height: 1.2em;
  vertical-align: middle;
  margin: 0.2em;
}
p {
  margin-left: 2rem;
}

input {
  margin-left: 0.5rem;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #424242;
    color: #fcfcfc;
  }
}
