name: Test

on:
  - pull_request
  - push

jobs:
  misspell:
    name: misspell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: misspell
        uses: reviewdog/action-misspell@v1
        with:
          reporter: github-pr-check
          github_token: ${{ secrets.github_token }}
          level: warning
          locale: 'US'
          exclude: |
            ./package-lock.json
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run test:prod
      - name: "Test build step: update Manifest for FireFox"
        run: npm run update_manifest_firefox
      - name: Upload dist bundle
        uses: actions/upload-artifact@v3
        with:
          name: test-build
          path: distribution
      - name: Codecov Upload
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage/lcov.info
